body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: #565458;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.navbar a{
  color: magenta;
  text-decoration: none;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr ));
  margin:2rem 3rem;
  background-color:coral;
  border-radius: 10px;
  padding:2rem;
  box-shadow: 2px 5px 10px #000;
}
.cart-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin:2rem 3rem;
  background-color:#aaf;
  padding:2rem;
  border-radius: 10px;
  box-shadow: 2px 5px 10px #777;
}
.empty-cart{
  text-align: center;
  font-style: italic;
}